<html lang="en">
<head>
<link rel="stylesheet" type="text/css" media="all" href="css?css=auftrag" />
<link rel="stylesheet" type="text/css" media="print" href="css?css=auftrag-print" />
<title>Mörderspiel</title>
</head>
<body>
	{% if game.status == 'RUNNING' %}
		{% for round in game.rounds.values() %}
			{% for participant in round.participants %}
				<div class="auftrag">
					<div class="moerdername">
						{{ participant.player.name }}<br/>{{ participant.player.info }}
					</div>
					<div class="auftragsbox">
						<h3 class="headline">Runde: {{ utils.htmlescape(game.name) }}{% if game.rounds|length > 1 %} -- Kreis: {{ round }}{% endif %}</h3>
						<h2>Mordauftrag</h2>
						<h1 class="opfername">
							{{ round.getInitialVictim(participant).player.name }}<br />{{ round.getInitialVictim(participant).player.info }}
						</h1>
						<div class="infotext">
							Nachdem man selbst regelkonform ermordet wurde, muss dieser Mordauftrag an den eigenen Mörder übergeben werden.<br/>
							<em>Trage diesen Mordauftrag immer bei dir</em>, zeige ihn nach dem Mord deinem Opfer zum Beweis und vermerke den Mord in der Mordliste.
						</div>
						<div class="url">
							http://kif.fsinf.de/wiki/Moerderspiel
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}

</body>
</html>
